<div class="page-header">
  <% note = Note.find_by_id(session[:note_id])%>
  <h1> <%= note.title %> </h1>
</div>
  <div>

    <table class="table table-striped">
      <thead>
        <tr>
          <th> Shared with</th>
          <th> Level of access </th>
          <th><%=t '.actions', :default => t("helpers.actions") %></th>
        </tr>
      </thead>
      <tbody>
        <% (note.authorizations.select{|a| a.access != "author"}).each do |auth| %>
          <% user = User.find_by_id(auth.user_id)%>
          <tr>
            <td><%= user.email %></td>
            <td><%= auth.access %></td>
            <td>
              <%= link_to t('.change', :default => t("helpers.links.change")),
                        edit_authorization_path(auth), :class => 'btn btn-mini' %>
              <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                          authorization_path(auth),
                          :method => :delete,
                          :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                          :class => 'btn btn-mini btn-danger' %>
              
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= link_to t('.share_new', :default => t("helpers.links.share_new")),
              new_authorization_path,
              :class => 'btn btn-primary' %>

    <%= link_to t('.back', :default => t("helpers.links.back")),
              notes_url,
              :class => 'btn' %>

  </div>